img, div, li, ul {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  align-items: start;
  padding: 20px;
  font-size: 13px;
}
.userlist {
  width: 200px;
  list-style-type: none;
  margin: 0;
}
.userlist li {
  padding: 15px;
  border: 1px solid rgb(221, 219, 219);
  cursor: pointer
}
.userlist li:hover {
  background-color: rgb(67, 153, 246);
  color: white;
}
.userdetails {
  margin-left: 30px;
}
.userdetails__avatar {
  padding: 0;
  margin: 0;
}
.userdetails__field {
  padding: 10px;
  border: 1px solid rgb(221, 219, 219);
}
.userdetails__field_name {
  font-size: 15px;
  padding: 20px 10px;
  border: 1px solid rgb(221, 219, 219);
}
